<!DOCTYPE html>
<html>

<head>
  <!-- Basic -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <!-- Mobile Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <!-- Site Metas -->
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <meta name="author" content="" />
  <link rel="shortcut icon" href="images/favicon.png" type="">

  <title> Disease Diagnosis - Description - Home </title>

   <!-- bootstrap core css -->
   <link rel="stylesheet" type="text/css" href={{ url_for("static", filename = "css/bootstrap.css") }} />

   <!-- fonts style -->
   <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap" rel="stylesheet">

   <!--owl slider stylesheet -->
   <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" />

   <!-- font awesome style -->
   <link href={{ url_for("static", filename = "css/font-awesome.min.css" )}} rel="stylesheet" />

   <!-- Custom s tyles for this template -->
   <link href={{ url_for("static", filename = "css/style.css" )}} rel="stylesheet" />
   <!-- responsive style -->
   <link href={{ url_for("static", filename = "css/responsive.css" )}}  rel="stylesheet" />

</head>

<body class="sub_page">

  <div class="hero_area">

    <div class="hero_bg_box">
      <img src="images/hero-bg.png" alt="">
    </div>

    <!-- header section strats -->
    <!-- <header class="header_section">
      <div class="container">
        <nav class="navbar navbar-expand-lg custom_nav-container ">
          <a class="navbar-brand" href="{{ url_for('index')}}">
            <span>
              Disease Description
            </span>
          </a>

          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class=""> </span>
          </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav">
             <li class="nav-item active">
               <a class="nav-link" href="{{ url_for('index')}}">Home </a>
             </li>
             <li class="nav-item">
               <a class="nav-link" href="{{ url_for('about')}}"> About</a>
             </li>
             <li class="nav-item">
                <a class="nav-link" href="{{ url_for('nailhome')}}">Disease Detection </a>
              </li>
             <form class="form-inline">
                <button class="btn  my-2 my-sm-0 nav_search-btn" type="submit">
                  <i class="fa fa-search" aria-hidden="true"></i>
                </button>
              </form>
            </ul>
          </div>
        </nav>
      </div>
    </header> -->
    <!-- end header section -->
  </div>

  <!-- department section -->

  <!-- <section class="department_section layout_padding">
    <div class="department_container">
      <div class="container ">
        <div class="heading_container heading_center">
          <h2>
            Disease description and precuations
          </h2>
          <p>
            
          </p>
        </div>
        <div class="row">
          <div class="col-md-3">
            <div class="box "> -->
              <!-- <div class="img-box"> -->
                <!-- <a href="{{ url_for('index')}}"><img src={{ url_for("static", filename = "images/a2.jpg") }} class="rounded-circle"  width="100" height="100"/></a> -->
              <!-- </div> -->
              <!-- <br>
              <div class="detail-box">
                <h5>
                  Drug Reaction
                </h5>
                <p>
                  An adverse drug reaction (ADR) is an injury caused by taking medication. ADRs may occur following a single dose or prolonged administration of a drug or result from the combination of two or more drugs.
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="box ">
              <a href="{{ url_for('index')}}"><img src={{ url_for("static", filename = "images/a22.jpg") }} class="rounded-circle"  width="100" height="100"/></a>
              <br>
              <div class="detail-box">
                <h5>
                  Malaria
                </h5>
                <p>
                  An infectious disease caused by protozoan parasites from the Plasmodium family that can be transmitted by the bite of the Anopheles mosquito or by a contaminated needle or transfusion. Falciparum malaria is the most deadly type.
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="box ">
              <a href="{{ url_for('index')}}"><img src={{ url_for("static", filename = "images/a3.jpg") }} class="rounded-circle"  width="100" height="100"/></a>
              <br>
              <div class="detail-box">
                <h5>
                  allergy
                </h5>
                <p>
                  An allergy is an immune system response to a foreign substance that's not typically harmful to your body.They can include certain foods, pollen, or pet dander. Your immune system's job is to keep you healthy by fighting harmful pathogens.
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="box ">
              <a href="{{ url_for('index')}}"><img src={{ url_for("static", filename = "images/a4.jpg") }} class="rounded-circle"  width="100" height="100"/></a>
              <br>
              <div class="detail-box">
                <h5>
                  Hypothyroidism
                </h5>
                <p>
                  Hypothyroidism, also called underactive thyroid or low thyroid, is a disorder of the endocrine system in which the thyroid gland does not produce enough thyroid hormone.
                </p>
              </div>
            </div>
          </div>
        </div>
        
       </div>
    </div>
  </section> -->
  <!-- end department section -->


 <!-- footer section -->
 <!-- <footer class="footer_section">
   <div class="container">
     <div class="row">
       <div class="col-md-6 col-lg-3 footer_col">
         <div class="footer_contact">
           <h4>
             Reach at..
           </h4>
           <div class="contact_link_box">
             <a href="">
               <i class="fa fa-map-marker" aria-hidden="true"></i>
               <span>
                 Location
               </span>
             </a>
             <a href="">
               <i class="fa fa-phone" aria-hidden="true"></i>
               <span>
                 Call +01 1234567890
               </span>
             </a>
             <a href="">
               <i class="fa fa-envelope" aria-hidden="true"></i>
               <span>
                 demo@gmail.com
               </span>
             </a>
           </div>
         </div>
         <div class="footer_social">
           <a href="">
             <i class="fa fa-facebook" aria-hidden="true"></i>
           </a>
           <a href="">
             <i class="fa fa-twitter" aria-hidden="true"></i>
           </a>
           <a href="">
             <i class="fa fa-linkedin" aria-hidden="true"></i>
           </a>
           <a href="">
             <i class="fa fa-instagram" aria-hidden="true"></i>
           </a>
         </div>
       </div>
       <div class="col-md-6 col-lg-3 footer_col">
         <div class="footer_detail">
           <h4>
             About
           </h4>
           <p>
            Health systems are under greater pressure than ever, but along with its other uses, the potential of AI to provide much-needed relief to overworked doctors. can streamline the triage process.
           </p>
         </div>
       </div>
       <div class="col-md-6 col-lg-2 mx-auto footer_col">
         <div class="footer_link_box">
           <h4>
             Links
           </h4>
           <div class="footer_links">
              <a class="active" href="{{ url_for('index' )}}">
                Home
              </a>
              <a class="" href="{{ url_for('about')}}">
                About
              </a>
              <a class="" href="{{ url_for('nailhome' )}}">
                Disease Detection 
              </a>
              <a class="" href="{{ url_for('description' )}}">
                Disease Description 
              </a>
           </div>
         </div>
       </div>
       <div class="col-md-6 col-lg-3 footer_col ">
         <h4>
           Newsletter
         </h4>
         <form action="#">
           <input type="email" placeholder="Enter email" />
           <button type="submit">
             Subscribe
           </button>
         </form>
       </div>
     </div>  
   </div>
 </footer> -->
 <!-- footer section -->

 <!-- jQery -->
 <script type="text/javascript" src="js/jquery-3.4.1.min.js"></script>
 <!-- popper js -->
 <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
 </script>
 <!-- bootstrap js -->
 <script type="text/javascript" src="js/bootstrap.js"></script>
 <!-- owl slider -->
 <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js">
 </script>
 <!-- custom js -->

</body>

</html>